.form-title {
  color: #C58100;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background-color: #564c3d;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(197,129,9);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.form-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.form-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form-header {
  font-family: 'Montserrat Alternates';
  color: #F1DCA7;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.20);
  -webkit-text-stroke-width: 2;
  -webkit-text-stroke-color: var(--Surface-overlay, rgba(33, 33, 33, 0.08));
  font-style: normal;
  font-weight: 800;
  line-height: normal
}

.form-fields {
  position: relative;
  z-index: 1;
  padding: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-input-container {
  margin: 10px;
}

.custom-input {
  padding: 5%;
  border: 1px;
  width: 238px;
  height: 45px;
  flex-shrink: 0;

  border-radius: 10px;
  box-sizing: border-box;
  background-color: #E8AC65;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);

  font-family: 'Montserrat Alternates';
  font-size: medium;
}

.custom-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #E8AC65 inset !important;
  -webkit-text-fill-color: #000000 !important;
  font-family: 'Montserrat Alternates' !important;
}

.custom-input::placeholder {
  color: #F1DCA7;
  font-family: "Montserrat Alternates";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.custom-input:focus {
  outline: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-error-message {
  margin-left: 13px;
  font-family: "Montserrat Alternates";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form-submit-button {
  width: 238px;
  height: 45px;
  flex-shrink: 0;

  border-radius: 10px;
  background: #F1DCA7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: #C58100;
  font-family: "Montserrat Alternates";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form-redirect {
  color:#E8AC65;
  font-family: "Montserrat Alternates";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form-redirect-link {
  text-decoration: none;
  color: #F1DCA7;
}
